body {
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
  background-color: black;
}

/* Navbar */
.navbar {
  background-color: transparent !important;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.nav-colored {
  /* background: linear-gradient(330deg, #3370cc, rgb(255, 81, 0)); */
  background: black !important;
  opacity: 0.94;
  padding-bottom: 20px;
}

#logo-header {
  width: 50%;
  position: relative;
  top: 7px;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}

/* AVAZ-SINNER */
.video-nav {
  position: relative;
  width: 100%;
  background-color: black;
  overflow: hidden;
}

.video-nav video {
  width: 100%;
  height: 100%;
}

/* Main */
#main-index {
  background-color: black;
  padding-bottom: 50px;
}

/* News */
.news {
  /* background-color: rgb(233, 226, 188);  */
  background-color: white;
  padding-bottom: 50px;
  position: relative;
  top: -55px;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}

h1 {
  text-transform: uppercase;
  font-weight: 600;
  padding-top: 5%;
  letter-spacing: 1px;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}

.news hr {
  width: 20%;
  border: 1px solid #e6dfdf;
}

.sinnerRed {
  color: #d62828;
}

.tridents {
  width: 2rem;
  -webkit-transition: 0.6s all ease-in-out;
  transition: 0.6s all ease-in-out;
}

.newsHeader {
  font-size: 2rem;
  padding: 20px 0;
  letter-spacing: 1px;
  -webkit-transition: 0.6s all ease-in-out !important;
  transition: 0.6s all ease-in-out !important;
}

.news iframe {
  width: 70%;
  height: 350px;
  margin-bottom: 30px;
  -webkit-transition: 0.7s all ease-in-out !important;
  transition: 0.7s all ease-in-out !important;
}

.flexCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lateNightLove span {
  color: #003049;
}

/* Media Queries */
/* ------ Small */
@media (max-width: 500px) {
  .video-nav video {
    margin-bottom: 15px;
  }
}

@media (max-width: 657px) {
  .navbar {
    background-color: black !important;
  }
  .video-nav video {
    margin-top: 50px;
  }
}

/* ------- Medium */
@media (max-width: 768px) {
  h1 {
    font-size: 25px;
  }
  .newsHeader {
    font-size: 20px;
  }
  .tridents {
    width: 1.5rem;
  }
}

@media (max-width: 977px) {
  .news {
    top: -30px;
  }
}

/* ----- Large */
@media (max-width: 992px) {
  .news iframe {
    width: 80%;
    height: 300px;
  }
  nav a img {
    margin-bottom: 15px;
  }
}

@media (max-width: 1071px) {
  .navbar-brand {
    width: 200px;
  }
}

@media (max-width: 1203px) {
  #logo-header {
    margin-left: 10%;
  }
}

/* ********************
_____ABOUT PAGE________
*********************** */
.about_body {
  background-image: url("https://images.unsplash.com/photo-1534364432722-54585249d766?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80");
  background-size: cover;
  background-repeat: no-repeat;
}

#main-about #main-container {
  background-color: white;
  margin-top: 10%;
  border-radius: 35% 5% !important;
}

#main-about #main-container .about-row img {
  width: 500px;
}

#main-about #main-container .about-row .about-text {
  color: #6d6c6b;
  letter-spacing: 0.05rem;
  text-align: justify;
  padding: 0 40px;
}

#main-about #main-container .about-row .about-text h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
}

#main-about #main-container .about-row .about-text .soundwave-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main-about #main-container .about-row .about-text .soundwave-box .soundwave-icon {
  width: 15%;
}

@media only screen and (max-width: 536px) {
  .about_body {
    background-image: none;
    background-color: white;
  }
  #main-container {
    padding: 0px;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
  #main-container .rounded {
    margin-top: 50px;
    margin-left: 0px;
    width: 100% !important;
  }
  #row1 {
    padding: 0 !important;
    width: 100%;
    margin: 0 auto;
  }
  #row2 {
    padding: 0 !important;
    width: 100%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 768px) {
  #main-container .rounded {
    width: inherit !important;
  }
}

@media only screen and (max-width: 992px) and (min-width: 769px) {
  #main-container .rounded {
    margin-left: 50px;
  }
}

@media only screen and (max-width: 1220px) {
  #main-container .about-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #main-container .about-row .about-text h2 {
    padding-top: 50px;
  }
  #main-container .about-row .about-text .soundwave-icon {
    padding-bottom: 10px;
  }
}

/* ********************
_____MUSIC PAGE________
*********************** */
#oceanwaves-video {
  width: 100%;
  opacity: 0.8;
}

#main-music {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

#main-music #listen-box {
  border-radius: 5px;
}

@media only screen and (max-width: 500px) {
  #oceanwaves-video {
    opacity: 0;
  }
}

@media only screen and (max-width: 644px) {
  #oceanwaves-video {
    margin-top: 50px;
  }
  #main-music {
    top: 40%;
  }
}

@media only screen and (max-width: 776px) {
  #main-music {
    top: 40%;
  }
}

@media only screen and (max-width: 1100px) {
  #oceanwaves-video {
    width: 90%;
    height: 120%;
  }
}

@media only screen and (max-width: 1270px) {
  #oceanwaves-video {
    width: 115%;
  }
}

.footer {
  background-color: black;
  margin-top: 50px;
  padding-bottom: 50px;
}

.footer .links-container p {
  color: white;
  text-align: center;
  padding: 30px;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
}

.footer .footer-social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .footer-social-media a {
  color: white;
}
/*# sourceMappingURL=avaz.css.map */