body {
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
  background-color: black;
}

/* Navbar */
.navbar {
  background-color: transparent !important;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.nav-colored {
  /* background: linear-gradient(330deg, #3370cc, rgb(255, 81, 0)); */
  background: black !important;
  opacity: 0.94;
  padding-bottom: 20px;
}

#logo-header {
  width: 50%;
  position: relative;
  top: 7px;
  transition: 0.5s all ease-in-out;
}

/* AVAZ-SINNER */
.video-nav {
  position: relative;
  width: 100%;
  background-color: black;
  overflow: hidden;
}

.video-nav video {
  width: 100%;
  height: 100%;
}

/* Main */
#main-index {
  background-color: black;
  padding-bottom: 50px;
}

/* News */
.news {
  /* background-color: rgb(233, 226, 188);  */
  background-color: rgb(255, 255, 255);
  padding-bottom: 50px;
  position: relative;
  top: -55px;
  transition: 0.4s all ease-in-out;
}

h1 {
  text-transform: uppercase;
  font-weight: 600;
  padding-top: 5%;
  letter-spacing: 1px;
  transition: 0.5s all ease-in-out;
}

.news hr {
  width: 20%;
  border: 1px solid rgb(230, 223, 223);
}

.sinnerRed {
  color: #d62828;
}

.tridents {
  width: 2rem;
  transition: 0.6s all ease-in-out;
}

.newsHeader {
  font-size: 2rem;
  padding: 20px 0;
  letter-spacing: 1px;
  transition: 0.6s all ease-in-out !important;
}

.news iframe {
  width: 70%;
  height: 350px;
  margin-bottom: 30px;
  transition: 0.7s all ease-in-out !important;
}

.flexCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lateNightLove span {
  color: #003049;
}

/* Media Queries */
/* ------ Small */
@media (max-width: 500px) {
  .video-nav video {
    margin-bottom: 15px;
  }
}

@media (max-width: 657px) {
  .navbar {
    background-color: black !important;
  }

  .video-nav video {
    margin-top: 50px;
  }
}

/* ------- Medium */
@media (max-width: 768px) {
  h1 {
    font-size: 25px;
  }

  .newsHeader {
    font-size: 20px;
  }

  .tridents {
    width: 1.5rem;
  }
}

@media (max-width: 977px) {
  .news {
    top: -30px;
  }
}

/* ----- Large */
@media (max-width: 992px) {
  .news iframe {
    width: 80%;
    height: 300px;
  }
  nav a img {
    margin-bottom: 15px;
  }
}

@media (max-width: 1071px) {
  .navbar-brand {
    width: 200px;
  }
}

@media (max-width: 1203px) {
  #logo-header {
    margin-left: 10%;
  }
}

/* ********************
_____ABOUT PAGE________
*********************** */
.about_body {
  background-image: url("https://images.unsplash.com/photo-1534364432722-54585249d766?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80");
  background-size: cover;
  background-repeat: no-repeat;
}

#main-about {
  #main-container {
    background-color: rgb(255, 255, 255);
    margin-top: 10%;
    border-radius: 35% 5% !important;

    .about-row {
      img {
        width: 500px;
      }
      .about-text {
        color: #6d6c6b;
        letter-spacing: 0.05rem;
        text-align: justify;
        padding: 0 40px;

        h2 {
          text-transform: uppercase;
          letter-spacing: 1px;
        }
        .soundwave-box {
          display: flex;
          justify-content: center;
          .soundwave-icon {
            width: 15%;
          }
        }
      }
    }
  }
}

// MEDIA QUERIES

// Medium

@media (max-width: 768px) {
  #main-container {
    background-color: transparent !important;
    img {
      margin-left: 0px;
    }
  }
}

// Large

@media (max-width: 992px) {
  #main-container {
    // background-color: transparent !important;
    img {
      margin-left: 50px;
    }
  }
}

@media (max-width: 1220px) {
  #main-container {
    .about-row {
      display: flex;
      flex-direction: column;

      .about-text {
        h2 {
          padding-top: 50px;
        }
        .soundwave-icon {
          padding-bottom: 10px;
        }
      }
    }
  }
}

/* ********************
_____MUSIC PAGE________
*********************** */

.music_body {
  // background-image: url('images/About/sunset.JPG');
  background-image: url("https://images.unsplash.com/photo-1459305272254-33a7d593a851?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80");
  background-size: cover;
  background-repeat: no-repeat;
}

.content-box {
  margin-top: 15%;
  display: flex;
  align-items: center;
}

#listen-box {
  margin: auto;
  border-radius: 5px;
  width: 500px;
}

#follow-btn {
  position: absolute;
  left: 10%;
}

// ************************
// _______FOOTER__________
// ************************

.footer {
  background-color: black;
  margin-top: 50px;
  padding-bottom: 50px;

  .links-container {
    p {
      color: white;
      text-align: center;
      padding: 30px;
      text-transform: uppercase;
      font-size: 1rem;
      letter-spacing: 2px;
    }
  }

  .footer-social-media {
    display: flex;
    width: 100%;
    justify-content: center;
    a {
      color: white;
    }
  }
}
